<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Record</title>
    <style>
        
        h2{
            text-align: center;
        }
       
        div{
            display:flex;
            justify-content:center;
            align-items:top;
            height:200px;
            border: 3px solid black;
            margin:0 auto;
            width:350px;
            border-radius: 20px;
        
        }

        table{
            text-align:center;
            border-spacing:15px;
            margin-top: 20px;
        }

    </style>
</head>
<body>
    <h2>Edit Conversion</h2>
    <div>
        <form method="POST">
            {% if error %}
                <div style="color: red; font-weight: bold; margin-top: 10px; text-align: center;">⚠️ {{ error }}</div>
            {% endif %}
            <table align="center">
                <tr>
                    <td>
                        <label>Input:</label>
                        <input type="text" value="{{ record.input_value }}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Update Result:</label>
                        <input
                            type="text"
                            name="updated_value"
                            value="{{ current_val }}"
                            required
                            >
                    </td>
                </tr>
                <tr>
                    <td><button type="submit">Update</button></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>